
<body>
<header>
  <%= render 'shared/top_nav' %>
</header>
<!--==============================content================================-->
<section id="content"></div>
  <div class="container_12 top">
    <div class="grid_8">
      <div >
        <h2>Welcome Back!</h2>
      </div>
      <br>
      <div class="right-1">
        <p class="clr-1 p2">We know it's impossible to find an available Maid in new York...</p>
        <p>But using our latest feature "ProNextDoor"  you will be able to hire a maid that's and nasdnansnsad asd;flaksd;fl kas;dlkf a;lsdkf ;alskd;flk aoepwk ...</p>
     </div>
      <br>
      <div class="right-2">
        <h2>Still dont have an account?</h2>
        <p>Click here and Open one in 2 minutes! </p>
      </div>
      <div><%= link_to "Sign-up page",new_user_path , :class => "button large gradient orange" %></a></div>
      </div>
    </div>
    <div class="grid_4">
      <h2>Sign-in Form</h2>


      <form id="form" action="/sessions" method="post" >

        <fieldset>
          <input type="hidden" name="session[source]" value="user">
          <label><input type="text" value="Email" id="session_email" name="session[email]" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''"></label>
          <label><input type="password" value="Password" name="session[password]" id="session_password" onBlur="if(this.value=='') this.value='Password'" onFocus="if(this.value =='Password' ) this.value=''"></label>
          <div class="btns"><a href="#" class="button">Clear</a><a href="#" class="button" onClick="document.getElementById('form').submit()">Send</a></div>
        </fieldset>
        <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
            <br>
            <img src="../assets/v2design/icon-2.jpg" alt=""> <%= link_to "Sign up with Facebook! ", "/auth/facebook", id: "sign_in" %>
        <% end %>
        &nbsp;

      </form>
    </div>
    <div class="clear"></div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>

  <div class="soc-icons"><span>Follow Us:</span><a href="#"><img src="../assets/v2design/icon-1.jpg" alt=""></a><a href="#"><img src="../assets/v2design/icon-2.jpg" alt=""></a><a href="#"><img src="../assets/v2design/icon-3.jpg" alt=""></a></div>
</footer>
</body>
</html>