<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MyMaid World Professional Login</title>
  <meta charset="iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="">

<!-- ################################################################################################ -->
<div class="wrapper row2">
  <%= render 'shared/top_nav' %>

</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <!-- ################################################################################################ -->
</div>

<div class="wrapper row3">
  <!-- content -->
  <div id="container">
    <!-- ################################################################################################ -->
    <section class="clear">
      <h1>Sign in to MyMaid - Professional </h1>
      <div class="two_third first">
        <form class="rnd5" action="/sessions" method="post">

          <!-- Add partial for error messages that appear if the form is not completed or correct (Base on the
          user model validation)
          -->


          <div class="form-input clear">

            <label for="session_email">Email<span class="required">*</span><br>
              <input id="session_email" name="session[email]" size="30" type="text" />
            </label>
            <label for="session_password">Password<span class="required">*</span><br>
              <input type="password" name="session[password]" id="session_password" value="" size="22">
            </label>
            <div><%= link_to "Looking for help? Login as a client here!",signin_path %></a></div>
            &nbsp;
            <p>
              <input type="submit" value="Submit" class="button small orange" name="commit">
              &nbsp;
              <input type="reset" value="Reset" class="button small grey">

            </p>
          </div>
        </form>

      </div>

      <div class="one_third">
        <div class="calltoaction opt1">
          <div class="push20">
            <h1>Still dont have an account?</h1>
            <p>Open up an account and let your clients find you! </p>
          </div>
          <div><%= link_to "Sign-up page",new_professional_path , :class => "button large gradient orange" %></a></div>
        </div>
      </div>
      <div class="two_third first">


        <!-- ################################################################################################ -->
        <div class="clear">
          <!-- ################################################################################################ -->
          &nbsp;
          <p>
            &nbsp;
          </p>
          <p><h2 class="footer_title">Check out the Top 4 professionals </h2> </p>
          <!-- Top 4 Maids  -->
          <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>Check the Top 4 Maids of the month (Rating and income - Geo base)</span></a>
            <div class="accordion-content">
              <section>
                <h2>Maids of the month (Base on country)</h2>
                <ul class="nospace clear">
                  <li class="one_quarter first">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name"><%= link_to "Sigal Cohen", public_profile_path %></p>
                        <p class="team-title">Top maid for Tel-aviv</p>
                        <p class="team-description">The amount of work i got and the option to use the scheduler, keep my income pipeline clear and <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name"><%= link_to "Sigal Cohen", public_profile_path %></p>
                        <p class="team-title">Top maid for Tel-aviv</p>
                        <p class="team-description">The amount of work i got and the option to use the scheduler, keep my income pipeline clear and <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name"><%= link_to "Sigal Cohen", public_profile_path %></p>
                        <p class="team-title">Top maid for Tel-aviv</p>
                        <p class="team-description">The amount of work i got and the option to use the scheduler, keep my income pipeline clear and <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name"><%= link_to "Sigal Cohen", public_profile_path %></p>
                        <p class="team-title">Top maid for Tel-aviv</p>
                        <p class="team-description">The amount of work i got and the option to use the scheduler, keep my income pipeline clear and <expected class=". "></expected>&hellip;</p>
                      </figcaption>
                    </figure>

                  </li>
                </ul>
              </section>
            </div>
          </div>

          <!-- ################################################################################################ -->
          <!-- Client review on the platform -->
          <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>Check what your clients thinks about our platform!</span></a>
            <div class="accordion-content">
              <!-- Clients Review section -->
              <section class="last">
                <h2>What Clients thinks about our platform?</h2>
                <ul class="nospace clear">
                  <li class="one_quarter first">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name">Haim Cohen</p>
                        <p class="team-title">Tel-aviv</p>
                        <p class="team-description">Facebook like for finding Help! what a great idea!! <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name">Haim Cohen</p>
                        <p class="team-title">Tel-aviv</p>
                        <p class="team-description">Facebook like for finding Help! what a great idea!! <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name">Haim Cohen</p>
                        <p class="team-title">Tel-aviv</p>
                        <p class="team-description">Facebook like for finding Help! what a great idea!! <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                  <li class="one_quarter">
                    <figure class="team-member"><img src="assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name">Haim Cohen</p>
                        <p class="team-title">Tel-aviv</p>
                        <p class="team-description">Facebook like for finding Help! what a great idea!! <expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">Read More &raquo;</a></p>
                      </figcaption>
                    </figure>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>

        <!-- ################################################################################################ -->
      </div>
    </section>
    <div class="clear">
    </div>
  </div>

  <!-- Footer -->


</div>
</body>
</html>