
<body>
<header>
  <%= render 'shared/top_nav' %>
</header>
<!--==============================content================================-->
<section id="content"></div>
  <div class="container_12 top">
    <div class="grid_8">
      <div >
      <h2>ProUp - Find , Share and hire the Professional you need!</h2>
      </div>
      <br>
      <div class="right-1">
        <p class="clr-1 p2">Join us now! and see how easy it is to Locate, Check for availability and hire a maid using social platform that empower your connections to help you find your next TOP maid.</p>
        <p>Aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
      </div>
    </div>
    <div class="grid_4">
      <h2>SignUp Form</h2>


      <form id="form" action="/users" method="post" >
        <%= render 'shared/error_messages' %>
        <fieldset>
          <label><input type="text"  name="user[first_name]" id="user_first_name" value="First Name" onBlur="if(this.value=='') this.value='First Name'" onFocus="if(this.value =='First Name' ) this.value=''"></label>
          <label><input type="text"  name="user[last_name]" id="user_last_name" value="Last Name" onBlur="if(this.value=='') this.value='Last Name'" onFocus="if(this.value =='Last Name' ) this.value=''"></label>
          <label><input type="text" value="Email" id="user_email" name="user[email]" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''"></label>
          <label><input type="password" value="Password" name="user[password]" id="user_password" onBlur="if(this.value=='') this.value='Password'" onFocus="if(this.value =='Password' ) this.value=''"></label>
          <label><input type="password" value="Password" name="user[password_confirmation]" id="user_password_confirmation" onBlur="if(this.value=='') this.value='Password'" onFocus="if(this.value =='Password' ) this.value=''"></label>
          <div class="btns"><a href="#" class="button">Clear</a><a href="#" class="button" onClick="document.getElementById('form').submit()">Send</a></div>
          </fieldset>
        <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
            <br>
            <img src="../assets/v2design/icon-2.jpg" alt=""> <%= link_to "Sign up with Facebook! ", "/auth/facebook", id: "sign_in" %>
        <% end %>
        &nbsp;

      </form>
    </div>
    <div class="clear"></div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>

  <div class="soc-icons"><span>Follow Us:</span><a href="#"><img src="../assets/v2design/icon-1.jpg" alt=""></a><a href="#"><img src="../assets/v2design/icon-2.jpg" alt=""></a><a href="#"><img src="../assets/v2design/icon-3.jpg" alt=""></a></div>
</footer>
</body>
</html>