<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MyMaid World</title>
  <meta charset="iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/layout.css" rel="stylesheet" type="text/css" />
  <link href="assets/model.css" rel="stylesheet" type="text/css" />
</head>
<body class="">

<!-- ################################################################################################# -->
<div class="wrapper row2">
  <%= render 'shared/top_nav_clean' %>

</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <!-- ################################################################################################ -->
</div>

<div class="wrapper row3">
  <!-- content -->
  <div id="container">
  <%= render 'shared/popup_profile' %>

  <!-- ################################################################################################ -->
    <div class="clear">
      <!-- ################################################################################################ -->
      <div class="one_half first">
        <h1><%= @user.last_name %> <%= @user.first_name%></h1>
        <% if current_user.image_url.nil? %>

            <div class="push30"><img src="../assets/demo/team-member.gif" alt=""></div>
        <% else %>
            <img src="<%= current_user.image_url.split("=")[0] << "=large"%>" alt="">

      <% end %>


        <h2>About me</h2>
        <p>Birthday: <%=@user.birthday_month %> <%=@user.birthday_day %> <%=@user.birthday_year %></p>
        <p> Personal notes:</p>
        <p>DEBUG DEBUG DEBUG: Current USER is: <%= current_user.first_name  %></p>
      </div>
      <div class="one_half">
        <h2>Client Statistics</h2>
        <div class="skillset push30">
          <ul class="nospace clear">
            <li class="size-20">More key points
              <div class="rnd5"><strong class="rnd5">20%</strong></div>
            </li>
            <!--<li class="size-25">Text Here
      <div class="rnd5"><strong class="rnd5">25%</strong></div>
    </li>-->
            <li class="size-30">More Key points
              <div class="rnd5"><strong class="rnd5">30%</strong></div>
            </li>
            <!--<li class="size-35">Text Here
      <div class="rnd5"><strong class="rnd5">35%</strong></div>
    </li>-->
            <li class="size-40">More key points Here
              <div class="rnd5"><strong class="rnd5">40%</strong></div>
            </li>
            <!--<li class="size-45">Text Here
      <div class="rnd5"><strong class="rnd5">45%</strong></div>
    </li>-->
            <li class="size-50">More key points Here
              <div class="rnd5"><strong class="rnd5">50%</strong></div>
            </li>
            <!--<li class="size-55">Text Here
      <div class="rnd5"><strong class="rnd5">55%</strong></div>
    </li>-->
            <li class="size-60">More key points Here
              <div class="rnd5"><strong class="rnd5">60%</strong></div>
            </li>
            <!--<li class="size-65">Text Here
      <div class="rnd5"><strong class="rnd5">65%</strong></div>
    </li>-->
            <li class="size-70">More key points Here
              <div class="rnd5"><strong class="rnd5">70%</strong></div>
            </li>
            <!--<li class="size-75">Text Here
      <div class="rnd5"><strong class="rnd5">75%</strong></div>
    </li>-->
            <li class="size-80">More key points Here
              <div class="rnd5"><strong class="rnd5">80%</strong></div>
            </li>
            <!--<li class="size-85">Text Here
      <div class="rnd5"><strong class="rnd5">85%</strong></div>
    </li>-->
            <li class="size-90"><b>Removing Hard stains from carpets and floors</b>
              <div class="rnd5"><strong class="rnd5">90%</strong></div>
            </li>
            <!--<li class="size-95">Text Here
      <div class="rnd5"><strong class="rnd5">95%</strong></div>
    </li>-->
            <li class="size-100"><b>Cleaning windows and shutters</b>
              <div class="rnd5"><strong class="rnd5">100%</strong></div>
            </li>
          </ul>
        </div>
        <h2>Who did i hired?</h2>
        <ul class="nospace spacing clear">

          <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>Check out my Hired professional list!</span></a>
            <div class="accordion-content">
              <section>
                <h2>Electricity</h2>
                <ul class="nospace clear">
                  <% round = 0 %>
                  <% @user.followed_users.each do |results| %>

                   <%
                   if  round == 0
                        first_class = "first"
                   end
                   %>

                   <% round = round + 1 %>


                      <%
                   if round == 5
                        first_class = "first"
                        round = 1
                   end
                          %>


                  <li class="one_quarter <%=first_class%>">
                    <figure class="team-member"> <img src="../assets/demo/team-member.gif" alt="">
                      <figcaption>
                        <p class="team-name"> <%= link_to results.first_name, results %> <%= results.last_name%></p>
                        <p class="team-title">Electricity guy</p>
                        <p class="team-description">Best service gurrentue!<expected class=". "></expected>&hellip;</p>
                        <p class="read-more"><a href="#">HIRE ME! &raquo;</a></p>
                      </figcaption>
                    </figure>
                   </li>
                      <% end %>
                </ul>
              </section>
            </div>
          </div>




        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- Footer -->


</div>
</body>
</html>

