<header>
  <div>
    <div>
      <h1><a href="index.html">LOGO</a></h1>
      <nav>
        <ul class="menu">
          <li>li><%= link_to "Home", root_path%></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="@">Products</a></li>
          <% if signed_in? %>
              <li><%= link_to "Log Out", signout_path, method: "delete"%></li>
              <li><%= link_to "Profile page", users_path%></li>
          <% else %>
              <li><%= link_to "Client Login", signin_path %></li>
              <li><%= link_to "Pro login", signin_professional_path %> </li>
          <% end %>
          <li class="current"><a href="contacts.html">Contacts</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</header>




