<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>

  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/v2design/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/v2design/grid_12.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/v2design/style.css">
<!-- Required only on HOME PAGE
<link rel="stylesheet" type="text/css" media="screen" href="css/slider.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300italic' rel='stylesheet' type='text/css'>
  <script src="../assets/v2design/jquery-1.7.min.js"></script>
  <script src="../assets/v2design/jquery.easing.1.3.js"></script>
  <script src="../assets/v2design/cufon-yui.js"></script>
  <script src="../assets/v2design/cufon-replace.js"></script>
  <script src="../assets/v2design/Bilbo_400.font.js"></script>
  <!-- Required only on HOME PAGE
  <script src="js/tms-0.4.1.js"></script> -->

</head>

<body>
<% if  params[:controller] == 'users' || params[:controller] == 'professional' %>


    <% flash.each do |key, value| %>
        <div class="alert-msg <%= key %>"><%= value %><a class="close" href="#">X</a></div>

    <% end %>


    <%= yield %>
    <%= render 'layouts/footer' %>

<% else %>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
        <div class="alert-msg <%= key %>"><%= value %><a class="close" href="#">X</a></div>
    <% end %>


    <%= yield %>
    <%= render 'layouts/footer' %>
<% end %>




</body>
</html>
